package blog

import (
	"github.com/jonathanschwarzhaupt/my-blog/internal/models"
	"github.com/jonathanschwarzhaupt/my-blog/ui/templ/layout"
)

templ ProjectsIndex(projects []models.Project) {
	@layout.Base("Projects", "") {
		<h1 class="mb-6 text-2xl font-semibold tracking-tight">Projects</h1>
		<ul class="flex list-none flex-col gap-4 p-0">
			for _, project := range projects {
				<li>
					@ProjectCard(project)
				</li>
			}
		</ul>
	}
}
